body{

    background: #000000;
    color: #ffffff;

}

.main_wrap{

    margin-left: 10%;
    margin-right:10%;

}

.logo_wrap{

    text-align: center;

    width: 640px;
    height: 181px;
    background: url("../img/logo_640.png") 0px 0px no-repeat;

    margin-right:auto;
    margin-left:auto;
    margin-bottom:50px;
    margin-top:50px;

}

.project_wrap{

    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    padding: 20px;
    margin-bottom: 50px;
    overflow: hidden;

}

.project_thumb{

    display: inline-block;
    float:left;
    clear: both;
    margin:0px;
    width: 320px;
    height: 240px;
    background: #00afaf;

}

.project_desc{

    display: inline-block;
    padding: 15px;

}

@media (max-width: 640px){

    .main_wrap{

        margin-left: 0px;
        margin-right: 0px;

    }

    .project_wrap{

        padding: 5px;

    }

    .project_thumb{

        width:64px;
        height:64px;
        float:none;
        display:block;
        margin-right:auto;
        margin-left:auto;

    }

    .project_desc{

        display:block;
        text-align:center;

    }

    .version_links{

        display: block;

    }

}