body{

    background: #000000;
    color: #ffffff;

}

.main_wrap{

    margin-left: 10%;
    margin-right:10%;

}

.logo_wrap{

    text-align: center;

}

.project_wrap{

    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    padding: 20px;
    margin-bottom: 50px;
overflow: hidden;

}

.project_thumb{

    display: inline-block;
    float:left;
    clear: both;
    margin:0px;
    width: 320px;
    height: 240px;
    background: red;

}

.project_desc{

    display: inline-block;

    outline: 1px solid #ffffff;

}

@media (max-width: 640px){

    .main_wrap{

        margin-left: 0px;
        margin-right: 0px;

    }

    .project_wrap{

        padding: 5px;

    }

    .version_links{

        display: block;

    }

}