body{

    background: #000000;
    color: #ffffff;

}

.main_wrap{

    margin-left: 10%;
    margin-right:10%;

}

.logo_wrap{

    text-align: center;

}

.project_wrap{

    outline: 1px solid #ffffff;
    padding: 20px;

}

@media (max-width: 640px){

    .main_wrap{

        margin-left: 0px;
        margin-right: 0px;

    }

    .project_wrap{

        padding: 5px;

    }

    .version_links{

        display: block;

    }

}